* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

html, body {
    height: 100%;
}
	      
body { 
	font: 13px Helvetica, Arial;
}

.center {
	text-align: center;
}

#page-container {
	height: 100%;
}

#question-container {
	width: 50%;
	height: 75%;
	margin: 0 auto;
}

#question-container form {
	height: 100%;
}

#question-container textarea {
	height: 70%;
	width: 100%;
}

#question-container button {
	width: 50%;
}

#message-form {
	background: #000;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#message-form input {
	border: 0;
	padding: 10px;
	width: 90%;
	margin-right: .5%;
}
	      
#message-form button {
	width: 9%;
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px;
}

#messages-container {
	display: none;
}
	      
#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	      
#messages li {
	padding: 5px 10px;
}
	      
.my-message {
	color: blue;
}

.other-message {
	color: red;
}
